@font-face {
  font-family: "outfit-regular";
  src: url("../assets/fonts/Outfit-Regular.ttf");
}
@font-face {
  font-family: "outfit-light";
  src: url("../assets/fonts/Outfit-Light.ttf");
}
@font-face {
  font-family: "outfit-bold";
  src: url("../assets/fonts/Outfit-Bold.ttf");
}
.tarjeta, .tarjeta__3, .tarjeta__2 {
  width: 100%;
  margin: 20px auto;
  padding: 25px;
  background: #549382;
  border-radius: 10px;
}

.tarjeta img, .tarjeta__3 img, .tarjeta__2 img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.tarjeta .titulo, .tarjeta__3 .titulo, .tarjeta__2 .titulo {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "outfit-bold";
}

.tarjeta .texto, .tarjeta__3 .texto, .tarjeta__2 .texto {
  font-size: 18px;
  font-weight: 200;
  font-family: "outfit-regular";
}

h1 {
  color: black;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

.fondo-gris-1 {
  background-color: rgb(93, 93, 93);
}

.fondo-gris-2 {
  background-color: rgb(160, 160, 160);
}

.fondo-gris-3 {
  background-color: rgb(50, 50, 50);
}

.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--send-email {
  background-color: #c25e30;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden !important;
}

.center {
  text-align: center;
}

.margen-5 {
  margin: 0 5px;
}

.negro {
  background-color: #000;
}

.rojo-mc {
  background-color: #c2172a;
}

.verde-metro {
  background-color: #00a9ad;
}

.fondo-rosa {
  background-color: #f3c9dd;
}

.fondo-celeste {
  background-color: #67d6ea;
}

body {
  font-family: "outfit-regular";
}

h1 {
  font-size: 3em;
}

h1, h2, p, button, a, .boton, .cliente a {
  font-family: "outfit-regular";
}

h1 {
  font-size: 3em;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
}

h2 {
  font-size: 2em;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
}

h3 {
  font-size: 1em;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

/****BOTON*****/
.boton, .cliente a {
  width: 117px;
  height: 50px;
  padding: 13px;
  box-sizing: border-box;
  color: #FFF;
  background: #000;
  border: none;
  text-decoration: none;
}

.botonera-popup {
  display: flex;
  justify-content: space-evenly;
}

.cerrar {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #FFF;
  border-radius: 30px;
  border: none;
}

/****HOME*****/
header {
  animation: fadeIn;
  animation-duration: 1s;
  background-image: linear-gradient(black, rgb(32, 32, 32));
}

.encabezado {
  background-color: #f3c9dd !important;
}
.encabezado .menu-bar {
  color: #FFF !important;
  display: none;
}
.encabezado .logo {
  display: flex;
  width: 90px;
  height: 30px;
  grid-column: 2/3;
}
.encabezado .menu {
  color: #FFF;
  font-size: 14px;
  display: flex;
  grid-column: 8/12;
  justify-content: space-evenly;
  list-style-type: none;
}
.encabezado a {
  background: none;
}
.encabezado a:hover {
  background: rgb(58, 58, 58);
}
.encabezado .logo-v3ktor:hover {
  background: none;
}

.menu-v3ktor {
  position: absolute;
  right: 2%;
}

.navbar-v3ktor a {
  color: #FFF;
  border-radius: 20px;
}
.navbar-v3ktor:hover {
  color: rgb(152, 152, 152);
  background-color: rgb(77, 77, 77);
}

.menu a {
  color: white;
  text-decoration: none;
  transition: all 500ms;
  padding: 10px;
}
.menu:hover {
  color: rgb(152, 152, 152);
  transform: translate(0px, 10px);
  background-color: rgb(77, 77, 77);
}

main {
  animation: fadeIn;
  animation-duration: 1s;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}
.home-left h1 {
  font-size: 5em;
  font-family: "outfit-bold";
  text-transform: uppercase;
  text-align: right;
}
.home-left .texto {
  font-size: 1.4em;
  text-align: right;
  letter-spacing: 1px;
}

.home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
}
.home-right h1 {
  font-size: 5em;
  font-family: "outfit-bold";
  text-transform: uppercase;
  text-align: left;
  opacity: 1;
}
.home-right .texto {
  font-size: 1.4em;
  text-align: left;
  letter-spacing: 1px;
}

.inicio-home {
  background-image: radial-gradient(#ccaacf, #aa82ad);
  color: #FFF;
}
.inicio-home h1 {
  color: #FFF;
}

.inicio-home-2 {
  background-image: url(../assets/img_index.jpg);
  background-size: cover;
}

.nosotros-home {
  background-image: url(../assets/img_quienes.jpg);
  background-size: cover;
  background-position: center;
}

.nosotros-home-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  color: #000;
  /*background-image: url(../assets/img_desarrollo.jpg);
  background-size: cover;
  background-position: center;*/
}
.nosotros-home-2 .titulo {
  margin-top: 10px;
  color: #000;
  font-size: 5em;
}

.header-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
}
.header-nosotros h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-family: "outfit-bold";
  color: #000;
  opacity: 1;
}

.nosotros-seccion {
  background-image: url(../assets/img_diseno.jpg);
  background-size: cover;
  background-position: center;
}
.nosotros-seccion h1 {
  color: #FFF;
  opacity: 0.7;
}

.nosotros-seccion-2 {
  background: white;
  color: #000;
  background-image: radial-gradient(#ccaacf, #aa82ad);
  color: #FFF;
}
.nosotros-seccion-2 h1 {
  color: #FFF;
}

.nosotros-seccion-3 {
  background: white;
  color: #000;
  background-image: radial-gradient(#67d6ea, #12abca);
  color: #FFF;
}
.nosotros-seccion-3 h1 {
  color: #FFF;
}

.nosotros-seccion-4 {
  background-image: url(../assets/img_desarrollo.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  color: #FFF;
  opacity: 0.7;
}

.quienes-home {
  height: 100vh;
  display: flex;
  animation: fadeIn;
  animation-duration: 1s;
}
.quienes-home .cerrar {
  margin-top: 0;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.descripcion-home {
  font-family: "outfit-bold";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  background-image: linear-gradient(#67d6ea, #12abca);
  color: #FFF;
  box-sizing: border-box;
  font-size: 4em;
  font-weight: 700;
  height: 100vh;
}
.descripcion-home h3 {
  display: flex;
  grid-column: 1/4;
  grid-row: 3;
  color: #FFF;
  font-size: 20px;
  font-family: "outfit-light";
  align-items: end;
  margin-left: 40px;
}
.descripcion-home p {
  color: #FFF;
  display: flex;
  grid-column: 1/12;
  grid-row: 4;
  box-sizing: border-box;
  margin-left: 40px;
  line-height: 65px;
  font-family: "outfit-light";
}
.descripcion-home .conceptos {
  display: flex;
  grid-row: 5;
  grid-column: 1/12;
  color: #FFF;
  font-size: 2.3em;
  line-height: 100px;
  opacity: 0.4;
  margin-left: 40px;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .descripcion-home .conceptos {
    display: flex;
    grid-row: 5;
    grid-column: 1/10;
    font-size: 1.5em;
    color: #FFF;
    line-height: 100px;
    opacity: 0.4;
  }
}
.portfolio-home {
  background-color: #FFF;
  margin-bottom: 50px;
}
.portfolio-home .titulo {
  color: #000;
  font-family: "outfit-bold";
  font-size: 3em;
  justify-content: center;
  margin: 40px 0;
}
.portfolio-home .trabajos {
  justify-content: center;
}
.portfolio-home .trabajo_hijo {
  margin: 3px 5px;
}

.cliente div {
  opacity: 0;
  transition: 100ms;
  position: absolute;
  width: 330px;
  height: 250px;
  background-color: #aa82ad;
  color: #FFF;
  text-decoration: none;
  margin-left: -12px;
}
.cliente a {
  display: flex;
  margin: 31%;
  justify-content: center;
  border: 1px solid #FFF;
}
.cliente a:hover {
  background-color: #FFF;
  color: #000;
  transition-duration: 400ms;
}
.cliente:hover div {
  opacity: 0.9;
  cursor: pointer;
  transition-duration: 400ms;
}

@media screen and (max-width: 575px) {
  .cliente div {
    width: 374px;
    height: 291px;
  }

  .cliente a {
    margin: 125px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .cliente div {
    width: 538px;
  }

  .cliente a {
    margin: 100px 205px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .cliente div {
    width: 178px;
    height: 155px;
  }

  .cliente a {
    margin: 34% 26%;
    width: 80px;
    height: 30px;
    font-size: 12px;
    padding: 6px 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .cliente div {
    width: 238px;
    height: 214px;
  }

  .cliente a {
    margin: 80px 60px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1399px) {
  .cliente div {
    width: 285px;
  }

  .cliente a {
    margin: 35% 29%;
  }
}
.titulo-servicio h2 {
  font-family: 2em;
}

.servicios-2, .servicios {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.servicios-2 .titulo, .servicios .titulo {
  color: #000;
  margin: 40px 0;
  font-size: 3em;
  font-family: "outfit-bold";
}
.servicios-2 .texto, .servicios .texto {
  margin-bottom: 25px;
}
.servicios-2 .icon-serv, .servicios .icon-serv {
  font-size: 9em;
  margin: 20px 0;
  color: #000;
}
.servicios-2 .hijo, .servicios .hijo {
  box-sizing: border-box;
  margin: 0 20px;
  text-align: center;
  height: 410px;
  background: none;
}
.servicios-2 .hijo:hover, .servicios .hijo:hover {
  box-sizing: border-box;
  transition-duration: 600ms;
  cursor: pointer;
  background: black;
}
.servicios-2 .hijo:hover .texto, .servicios .hijo:hover .texto {
  color: #FFF;
}
.servicios-2 .hijo:hover .titulo-servicio, .servicios .hijo:hover .titulo-servicio {
  color: #FFF;
}
.servicios-2 .hijo:hover .icon-serv, .servicios .hijo:hover .icon-serv {
  color: #FFF;
}
.servicios-2 .hijo:hover a, .servicios .hijo:hover a {
  border: 1px solid #FFF;
}
.servicios-2 .hijo:hover a:hover, .servicios .hijo:hover a:hover {
  background: #FFF;
  color: #000;
  transition: 400ms;
}

.section-video {
  display: flex;
  align-items: center;
  text-align: center;
  /*.solido-negro{
      background-color: $negro;
      opacity: .7;
      position: absolute;
      z-index: 90;
      width: 100%;
      height: 100vh;
      box-shadow: inset 0px 0px 10em rgb(0, 0, 0);   
  }*/
}
.section-video .video-home {
  width: 100%;
  height: 100hv;
}
.section-video .content {
  position: absolute;
  color: #000;
  z-index: 100;
  opacity: 1;
  right: 10%;
  font-size: 4em;
  text-align: right;
  line-height: 65px;
  font-family: "outfit-bold";
  animation: bounceIn;
  animation-duration: 1s;
}

.pieDepagina {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
  height: 70px;
  border-top: 1px solid black;
}
.pieDepagina .logo {
  display: flex;
  width: 90px;
  height: 40px;
  grid-column: 2;
}
.pieDepagina .texto {
  display: flex;
  grid-column: 4/7;
  font-size: 14px;
  margin: 0;
}
.pieDepagina .redes {
  display: flex;
  grid-column: 8/9;
  justify-content: space-around;
}
.pieDepagina .fa-brands {
  margin: 0 10px;
}
.pieDepagina a {
  color: #000;
  text-decoration: none;
}
.pieDepagina a:hover {
  color: rgb(106, 106, 106);
  text-decoration: none;
}
.pieDepagina .tel {
  display: flex;
  grid-column: 10/12;
  text-decoration: none;
}

/******FIN HOME********/
/******NOSOTROS********/
.home-left-nosotros {
  display: flex;
  background-image: url(../assets/img_diseno.jpg);
  background-position: center;
  background-size: cover;
}

.home-right-nosotros {
  display: flex;
  background-image: url(../assets/img_desarrollo.jpg);
  background-position: center;
  background-size: cover;
}

/***PORTFOLIO***/
.principal-portfolio {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  animation: fadeIn;
  animation-duration: 1s;
}
.principal-portfolio .titulo {
  display: flex;
  grid-column: 6/8;
  grid-row: 2;
  font-size: 40px;
  font-weight: 800;
  justify-content: center;
  margin-bottom: 20px;
}
.principal-portfolio .trabajos {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2/12;
  grid-row: 3;
  justify-content: center;
}
.principal-portfolio .trabajo_hijo {
  margin: 3px 5px;
}
.principal-portfolio .img-serv {
  width: 100px;
}

.carousel {
  display: flex;
  grid-column: 2/12;
  grid-row: 3/4;
  animation: fadeIn;
  animation-duration: 1s;
}

.mastrabajos {
  margin-bottom: 40px;
  animation: fadeIn;
  animation-duration: 1s;
}
.mastrabajos .titulo {
  margin-bottom: 10px;
}

/***SERVICIOS***/
.servicios {
  margin-top: 40px;
  height: 80vh;
}

.servicio_hijo h2 {
  font-size: 25px !important;
  justify-content: start !important;
}

.hijo {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.hijo .icon-serv {
  color: rgb(0, 0, 0);
}

/***CONTACTO***/
.contacto {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.contacto .titulo {
  display: flex;
  grid-column: 2/3;
  grid-row: 3;
  margin-bottom: 20px;
  font-size: 40px;
}
.contacto .formulario {
  grid-column: 2/6;
  grid-row: 4/5;
}
.contacto .imagen {
  grid-column: 6/10;
  grid-row: 2/5;
}
.contacto .boton, .contacto .cliente a, .cliente .contacto a {
  text-align: center;
  padding: 5px 10px;
  background-color: black;
  border: none;
  color: white;
  height: 45px;
  width: 92px;
  text-decoration: none;
}
.contacto .campo-texto {
  box-sizing: border-box;
  padding-left: 10px;
  width: 70%;
  height: 30px;
  margin-bottom: 14px;
  border: none;
  background-color: rgb(240, 240, 240);
}
.contacto .mensaje-form {
  resize: none;
  height: 150px;
}

.contacto textarea {
  width: 100%;
}

/********MEDIA QUERIES*********/
@media screen and (max-width: 600px) {
  .encabezado .navbar-v3ktor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    height: 70px;
    align-items: center;
  }
  .encabezado .menu {
    display: none;
  }
  .encabezado .logo {
    display: flex;
    grid-column: 1;
  }
  .encabezado .menu-bar {
    color: white;
    display: flex;
    grid-column: 4;
    justify-content: center;
    margin-left: 30px;
  }

  .menu-v3ktor {
    position: static;
  }

  .home-left {
    height: 50vh;
  }
  .home-left h1 {
    font-size: 3em;
    font-family: "outfit-bold";
    text-transform: uppercase;
    text-align: right;
  }
  .home-left .texto {
    font-size: 1em;
    text-align: right;
  }

  .home-right {
    height: 50vh;
  }
  .home-right h1 {
    font-size: 3em;
    font-family: "outfit-bold";
    text-transform: uppercase;
  }
  .home-right .texto {
    font-size: 1em;
    text-align: left;
  }

  .nosotros-home-2 .titulo {
    font-size: 2.4em;
  }

  .header-nosotros {
    height: 100vh;
  }

  .nosotros-seccion .titulo {
    font-size: 6em;
  }

  .nosotros-seccion-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .nosotros-seccion-2 h1 {
    font-size: 1em !important;
    color: #000 !important;
  }
  .nosotros-seccion-2 .texto {
    margin-top: 10px;
    font-size: 18px;
  }

  .nosotros-seccion-3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .nosotros-seccion-3 .texto {
    margin-top: 10px;
    font-size: 18px;
  }

  .nosotros-seccion-4 {
    display: flex;
    word-break: break-all;
  }
  .nosotros-seccion-4 h1 {
    font-size: 7em;
    opacity: 0.7;
    line-height: 79px;
  }

  .desarrollo {
    display: flex;
    flex-direction: column-reverse;
  }

  .descripcion-home {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: repeat(6, 1fr);
    box-sizing: border-box;
    background-color: #67d6ea;
    color: #FFF;
    font-size: 4em;
    font-weight: 700;
    height: 100vh;
  }
  .descripcion-home h3 {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
    font-family: "outfit-light";
    color: #FFF;
    align-items: end;
    margin-left: 0px;
  }
  .descripcion-home p {
    color: #FFF;
    display: flex;
    grid-column: 2;
    grid-row: 2;
    box-sizing: border-box;
    margin-left: 0px;
    line-height: 40px;
    font-size: 0.7em;
    font-family: "outfit-light";
  }
  .descripcion-home .conceptos {
    display: flex;
    grid-row: 3;
    grid-column: 2;
    font-size: 0.8em;
    color: #FFF;
    line-height: 50px;
    opacity: 0.4;
    margin-left: 0px;
  }

  .portfolio-home {
    height: 100%;
  }
  .portfolio-home .titulo {
    display: flex;
    align-self: flex-start;
    font-size: 30px;
  }
  .portfolio-home .trabajos {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2;
    grid-row: 3/6;
    justify-content: center;
  }
  .portfolio-home .trabajo_hijo {
    margin: 3px 5px;
  }
  .portfolio-home img {
    width: 290px;
  }

  .mastrabajos .img-fluid {
    margin: 20px 0;
  }

  .servicios-2 .titulo, .servicios .titulo {
    font-size: 40px;
  }
  .servicios-2 .hijo, .servicios .hijo {
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
  }

  .servicios-boot {
    height: 100%;
  }

  .pieDepagina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    align-items: center;
    justify-items: center;
    height: 100px;
  }
  .pieDepagina .logo {
    display: flex;
    grid-column: 1;
    grid-row: 1;
  }
  .pieDepagina .redes {
    display: flex;
    grid-column: 2;
    grid-row: 1;
  }
  .pieDepagina .texto {
    display: flex;
    grid-column: 1/5;
    grid-row: 2;
    font-size: 12px;
    text-align: center;
    color: #777;
  }
  .pieDepagina .tel {
    display: flex;
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    font-size: 12px;
    padding-right: 10px;
  }
  .pieDepagina img {
    width: 100px;
    height: 32px;
  }

  /*NOSOTROS MOBILE*/
  .principal-nosotros {
    height: 100vh;
    display: flex;
  }
  .principal-nosotros img {
    width: 90%;
  }
  .principal-nosotros .titulo {
    grid-area: titulo;
    font-size: 40px;
    font-weight: 700;
    align-self: end;
    padding-left: 0;
  }
  .principal-nosotros .texto {
    grid-area: texto;
    font-weight: 100;
    padding-left: 30px;
    font-family: "outfit-regular";
    padding-left: 0;
  }
  .principal-nosotros .boton, .principal-nosotros .cliente a, .cliente .principal-nosotros a {
    grid-area: boton;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 5px;
    background-color: black;
    border: none;
    color: white;
    height: 26px;
    width: 92px;
  }

  /***PORTFOLIO MOBILE***/
  .principal-portfolio {
    height: 100%;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .principal-portfolio .titulo {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }
  .principal-portfolio .carousel {
    display: flex;
    grid-column: 2;
    grid-row: 2;
  }
  .principal-portfolio .trabajos {
    display: flex;
    grid-column: 2;
    justify-content: center;
  }
  .principal-portfolio .trabajo_hijo {
    margin: 3px 5px;
  }
  .principal-portfolio img {
    width: 290px;
  }

  .portfolio-home {
    margin-bottom: 0 !important;
  }

  .section-video {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .section-video .video-home {
    width: 100%;
  }
  .section-video .content {
    position: absolute;
    color: #000;
    margin-left: 50px;
    z-index: 100;
    opacity: 0.7;
  }
  .section-video .titulo {
    font-family: "outfit-bold";
    font-size: 0.5em;
    text-align: left;
    line-height: 40px;
  }

  /***SERVICIOS MOBILE***/
  /*.servicios-2{
      height: 220vh;
  }*/
  .principal-servicio {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .principal-servicio .titulo {
    display: flex;
    grid-column: 2;
    grid-row: 2;
  }
  .principal-servicio .servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .servicio_hijo h2 {
    font-size: 25px !important;
    justify-content: center !important;
    margin-bottom: 0 !important;
    text-align: center;
  }

  .servicio_hijo {
    text-align: center;
    margin-bottom: 20px;
  }

  .servicios-boot h1 {
    height: 50px;
  }

  .servicios-boot .boton, .servicios-boot .cliente a, .cliente .servicios-boot a {
    display: inline;
  }

  .principal-servicio .servicio_hijo {
    width: 290px;
    margin: 3px 5px 40px 5px;
    text-align: center;
  }

  .principal-servicio img {
    width: 180px;
  }

  .principal-servicio .texto {
    margin-bottom: 15px;
    font-family: "outfit-regular";
  }

  /***CONTACTO MOBILE***/
  .contacto {
    height: 130vh;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: repeat(6, 1fr);
  }
  .contacto .titulo {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .contacto .formulario {
    grid-column: 2;
    grid-row: 3;
  }
  .contacto .contacto img {
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .home-left h1 {
    font-size: 3.5em;
  }

  .home-right {
    display: flex;
    background-image: radial-gradient(#67d6ea, #12abca);
    height: 100vh;
    align-items: center;
    background-image: url(../assets/img_index.jpg);
    background-size: cover;
  }
  .home-right h1 {
    font-size: 6em;
    font-family: "outfit-bold";
    text-transform: uppercase;
    color: #FFF;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .quienes-home {
    height: 100%;
  }

  .descripcion-home {
    height: 100%;
    display: block;
  }
}
/*******FIN MEDIA QUERIES********/

/*# sourceMappingURL=estilos.css.map */
