@font-face {
  font-family: "outfit-regular";
  src: url("../assets/fonts/Outfit-Regular.ttf");
}
@font-face {
  font-family: "outfit-light";
  src: url("../assets/fonts/Outfit-Light.ttf");
}
@font-face {
  font-family: "outfit-bold";
  src: url("../assets/fonts/Outfit-Bold.ttf");
}
.tarjeta, .tarjeta__3, .tarjeta__2 {
  width: 100%;
  margin: 20px auto;
  padding: 25px;
  background: #549382;
  border-radius: 10px;
}

.tarjeta img, .tarjeta__3 img, .tarjeta__2 img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.tarjeta .titulo, .tarjeta__3 .titulo, .tarjeta__2 .titulo {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "outfit-bold";
}

.tarjeta .texto, .tarjeta__3 .texto, .tarjeta__2 .texto {
  font-size: 18px;
  font-weight: 200;
  font-family: "outfit-regular";
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

.fondo-gris-1 {
  background-color: rgb(93, 93, 93);
}

.fondo-gris-2 {
  background-color: rgb(160, 160, 160);
}

.fondo-gris-3 {
  background-color: rgb(50, 50, 50);
}

.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--send-email {
  background-color: #c25e30;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden !important;
}

.center {
  text-align: center;
}

.margen-5 {
  margin: 0 5px;
}

.negro {
  background-color: #000;
}

.rojo-mc {
  background-color: #c2172a;
}

.verde-metro {
  background-color: #00a9ad;
}

.fondo-rosa {
  background-color: #f3c9dd;
}

.fondo-celeste {
  background-color: #67d6ea;
}

body {
  font-family: "outfit-regular";
}

h1 {
  font-size: 3em;
}

h1, h2, p, button, a, .boton {
  font-family: "outfit-regular";
}

/****BOTON*****/
.boton {
  width: 117px;
  height: 50px;
  padding: 13px;
  box-sizing: border-box;
  color: #FFF;
  background: #000;
  border: none;
  text-decoration: none;
}
.boton:hover {
  background-image: linear-gradient(black, rgb(61, 61, 61));
}

.botonera-popup {
  display: flex;
  justify-content: space-evenly;
}

.cerrar {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #FFF;
  border-radius: 30px;
  border: none;
  padding: 0 !important;
}

/****HOME*****/
header {
  animation: fadeIn;
  animation-duration: 1s;
  background-image: linear-gradient(black, rgb(32, 32, 32));
}

.encabezado {
  background-color: #f3c9dd !important;
}
.encabezado .menu-bar {
  color: #FFF !important;
  display: none;
}
.encabezado .logo {
  display: flex;
  width: 90px;
  height: 30px;
}
.encabezado .menu {
  color: #FFF;
  font-size: 14px;
  display: flex;
  grid-column: 8/12;
  justify-content: space-evenly;
  list-style-type: none;
}
.encabezado a {
  background: none;
}
.encabezado a:hover {
  background: rgb(58, 58, 58);
}
.encabezado .logo-v3ktor:hover {
  background: none;
}

.menu-v3ktor {
  position: absolute;
  right: 2%;
}

.navbar-v3ktor a {
  color: #FFF;
  border-radius: 20px;
}
.navbar-v3ktor:hover {
  color: rgb(152, 152, 152);
  background-color: rgb(77, 77, 77);
}

.menu a {
  color: white;
  text-decoration: none;
  transition: all 500ms;
  padding: 10px;
}
.menu:hover {
  color: rgb(152, 152, 152);
  transform: translate(0px, 10px);
  background-color: rgb(77, 77, 77);
}

main {
  animation: fadeIn;
  animation-duration: 1s;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
}
.home-left h1 {
  font-size: 5em;
  font-family: "outfit-bold";
  text-transform: uppercase;
  text-align: right;
}
.home-left .texto {
  font-size: 1.4em;
  text-align: right;
  letter-spacing: 1px;
}

.home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
}
.home-right h1 {
  font-size: 5em;
  font-family: "outfit-bold";
  text-transform: uppercase;
  text-align: left;
  opacity: 1;
}
.home-right .texto {
  font-size: 1.4em;
  text-align: left;
  letter-spacing: 1px;
}

.inicio-home {
  background-image: radial-gradient(#ccaacf, #aa82ad);
  color: #FFF;
  /* @keyframes opacidad{
       0% {
           opacity: 0;
         }
       100% {
           opacity: 1;
         }
       }
       */
}
.inicio-home h1 {
  opacity: 1;
  color: #FFF;
}

.inicio-home-2 {
  background-image: url(../assets/img_index.jpg);
  background-size: cover;
  background-position: right;
}

.nosotros-home {
  background-image: url(../assets/img_quienes.jpg);
  background-size: cover;
  background-position: center;
}

.nosotros-home-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(#67d6ea, #12abca);
  color: #FFF;
  /*background-image: url(../assets/img_desarrollo.jpg);
  background-size: cover;
  background-position: center;*/
}
.nosotros-home-2 .titulo {
  margin-top: 10px;
  color: #FFF;
  font-size: 5em;
}

.header-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
}
.header-nosotros h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-family: "outfit-bold";
  color: #000;
  opacity: 1;
}

.nosotros-seccion {
  background-image: url(../assets/img_diseno.jpg);
  background-size: cover;
  background-position: center;
}
.nosotros-seccion h1 {
  color: #FFF;
  opacity: 0.7;
}

.nosotros-seccion-2 {
  background: white;
  color: #000;
  background-image: radial-gradient(#ccaacf, #aa82ad);
  color: #FFF;
}
.nosotros-seccion-2 h1, .nosotros-seccion-2 h2 {
  color: #FFF;
}
.nosotros-seccion-2 h2 {
  font-size: 20px;
  font-family: "outfit-bold";
}

.nosotros-seccion-3 {
  background: white;
  color: #000;
  background-image: radial-gradient(#67d6ea, #12abca);
  color: #FFF;
  align-items: start;
}
.nosotros-seccion-3 .texto {
  text-align: left;
}
.nosotros-seccion-3 h1 {
  color: #FFF;
}

.nosotros-seccion-4 {
  background-image: url(../assets/img_desarrollo.jpg);
  background-size: cover;
  background-position: center;
}

.titulo {
  color: #FFF;
}

.quienes-home {
  height: 100vh;
  display: flex;
  animation: fadeIn;
  animation-duration: 1s;
}
.quienes-home .cerrar {
  margin-top: 0;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.descripcion-home {
  font-family: "outfit-bold";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  background-image: linear-gradient(#000, rgb(71, 71, 71));
  color: #FFF;
  box-sizing: border-box;
  font-size: 4em;
  font-weight: 700;
  height: 100vh;
}
.descripcion-home h3 {
  display: flex;
  grid-column: 1/4;
  grid-row: 3;
  color: #FFF;
  font-size: 20px;
  font-family: "outfit-light";
  align-items: end;
  margin-left: 40px;
}
.descripcion-home p {
  color: #FFF;
  display: flex;
  grid-column: 1/12;
  grid-row: 4;
  box-sizing: border-box;
  margin-left: 40px;
  line-height: 65px;
  font-family: "outfit-light";
}
.descripcion-home .conceptos {
  display: flex;
  grid-row: 5;
  grid-column: 1/12;
  color: #FFF;
  font-size: 2.3em;
  line-height: 100px;
  opacity: 0.2;
  margin-left: 40px;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .descripcion-home .conceptos {
    display: flex;
    grid-row: 5;
    grid-column: 1/10;
    font-size: 1.5em;
    color: #FFF;
    line-height: 100px;
    opacity: 0.4;
  }
}
.portfolio-home {
  background-color: #FFF;
  margin-bottom: 50px;
}
.portfolio-home .titulo {
  color: #000;
  font-family: "outfit-bold";
  font-size: 3em;
  justify-content: center;
  margin: 40px 0;
}
.portfolio-home .trabajos {
  justify-content: center;
}
.portfolio-home .trabajo_hijo {
  margin: 3px 5px;
}

.cliente {
  opacity: 1;
  transition: all 600ms;
}
.cliente:hover {
  opacity: 0.2;
}

.titulo-servicio h2 {
  font-family: 2em;
}

.servicios-2, .servicios-seccion-3 {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.servicios-2 .titulo, .servicios-seccion-3 .titulo {
  color: #000;
  margin: 40px 0;
  font-size: 3em;
  font-family: "outfit-bold";
}
.servicios-2 .texto, .servicios-seccion-3 .texto {
  margin-bottom: 25px;
}
.servicios-2 .icon-serv, .servicios-seccion-3 .icon-serv {
  font-size: 9em;
  margin: 20px 0;
  color: #000;
}
.servicios-2 .hijo, .servicios-seccion-3 .hijo {
  box-sizing: border-box;
  margin: 0 20px;
  padding: 40px 10px;
  text-align: center;
  height: 400px;
  background: none;
  /*
  &:hover{

      box-sizing: border-box;
      transition-duration: 600ms;
      background: black;


      .texto{
          color: $blanco;
      }
      .titulo-servicio{
          color: $blanco;
      }

      .icon-serv{
          color: $blanco;
      }

      a{
          border: 1px solid $blanco;
      }


      a:hover{
          background:$blanco;
          color: $negro;
          transition: 400ms;
      }
  }
  */
}

.section-video {
  display: flex;
  align-items: center;
  text-align: center;
}
.section-video .video-home {
  width: 100%;
  height: 100hv;
}
.section-video .content {
  position: absolute;
  color: #000;
  z-index: 100;
  opacity: 1;
  right: 10%;
  font-size: 4em;
  text-align: right;
  line-height: 65px;
  font-family: "outfit-bold";
  animation: bounceIn;
  animation-duration: 1s;
}

.pieDepagina {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  align-items: center;
  height: 70px;
  border-top: 1px solid black;
}
.pieDepagina .logo {
  display: flex;
  width: 90px;
  height: 40px;
  grid-column: 2;
}
.pieDepagina .texto {
  display: flex;
  grid-column: 4/7;
  font-size: 14px;
  margin: 0;
}
.pieDepagina .redes {
  display: flex;
  grid-column: 8/9;
  justify-content: space-around;
}
.pieDepagina .fa-brands {
  margin: 0 10px;
}
.pieDepagina a {
  color: #000;
  text-decoration: none;
}
.pieDepagina a:hover {
  color: rgb(106, 106, 106);
  text-decoration: none;
}
.pieDepagina .tel {
  display: flex;
  grid-column: 10/12;
  text-decoration: none;
}

/******FIN HOME********/
/******NOSOTROS********/
.seccion-nosotros {
  animation: fadeIn;
  animation-duration: 1s;
}
.seccion-nosotros .boton {
  padding: 0;
}

.home-left-nosotros {
  display: flex;
  background-image: url(../assets/img_diseno.jpg);
  background-position: center;
  background-size: cover;
}

.home-right-nosotros {
  display: flex;
  background-image: url(../assets/img_desarrollo.jpg);
  background-position: center;
  background-size: cover;
}

/***PORTFOLIO***/
.portfolio {
  margin-bottom: 40px;
}

.portfolio-seccion {
  background-image: url(../assets/img_portfolio.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-seccion-2 {
  background-image: linear-gradient(#ccaacf, #aa82ad);
  color: #FFF;
}
.portfolio-seccion-2 .titulo {
  color: #FFF;
}

.item-portfolio {
  text-align: center;
  margin-bottom: 50px;
}
.item-portfolio h1 {
  color: #000;
  opacity: 1;
  font-family: "outfit-bold";
}
.item-portfolio h2 {
  font-size: 1em;
}
.item-portfolio .item-hijo {
  opacity: 1;
  transition: all 500ms;
}
.item-portfolio .item-hijo:hover {
  opacity: 0.5;
  cursor: pointer;
  animation-duration: 1s;
}

.carousel {
  display: flex;
  grid-column: 2/12;
  grid-row: 3/4;
  animation: fadeIn;
  animation-duration: 1s;
}

.mastrabajos {
  margin-bottom: 40px;
  animation: fadeIn;
  animation-duration: 1s;
}
.mastrabajos .titulo {
  margin-bottom: 10px;
}

.servicios {
  display: flex;
}

.servicios-seccion-1 {
  background-image: url(../assets/img_servicios.jpg);
  background-position: center;
  background-size: cover;
}

.servicios-seccion-2 {
  background-image: radial-gradient(#67d6ea, #12abca);
  padding-left: 30px;
}
.servicios-seccion-2 h3 {
  color: #FFF;
}
.servicios-seccion-2 .titulo {
  color: #FFF;
}
.servicios-seccion-2 .texto {
  color: #FFF;
}
.servicios-seccion-2 ul, .servicios-seccion-2 li {
  color: #FFF;
}

.servicios-seccion-3 {
  margin-top: 60px;
}
.servicios-seccion-3 .boton {
  border: 1px solid #000;
}
.servicios-seccion-3 .boton:hover {
  border: 1px solid #000;
  background-color: white;
  color: #000;
}
.servicios-seccion-3 .hijo {
  height: 450px;
  transition: all 1s;
}
.servicios-seccion-3 .hijo:hover {
  background-color: #000;
}
.servicios-seccion-3 .hijo:hover .titulo-servicio {
  color: #FFF;
}
.servicios-seccion-3 .hijo:hover .icon-serv {
  color: #FFF;
}
.servicios-seccion-3 .hijo:hover .texto {
  color: #FFF;
}
.servicios-seccion-3 .hijo:hover .boton {
  background-color: #FFF;
  color: #000;
  border: 1px solid #FFF;
}
.servicios-seccion-3 .hijo:hover .boton:hover {
  background-color: #000;
  color: #FFF;
}

/***CONTACTO***/
.contacto {
  height: 100vh;
  display: flex;
}

.contacto-seccion-1 {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  background-image: radial-gradient(#ccaacf, #aa82ad);
  text-align: left;
}
.contacto-seccion-1 h1 {
  text-align: left;
}
.contacto-seccion-1 .titulo {
  color: #FFF;
  align-items: flex-start;
}
.contacto-seccion-1 .mensaje-form {
  height: 200px;
}

.formulario {
  width: 80%;
}
.formulario .nombre {
  width: 100%;
}
.formulario .email {
  width: 100%;
}
.formulario .mensaje {
  width: 100%;
}

.contacto-seccion-2 {
  background-image: url(../assets/img-contacto.jpg);
  background-size: cover;
  background-position: center;
}
.contacto-seccion-2 .titulo {
  color: #FFF;
  opacity: 0.5;
}

.contacto textarea {
  width: 100%;
}

/********MEDIA QUERIES*********/
@media screen and (max-width: 480px) {
  .encabezado .navbar-v3ktor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    height: 70px;
    align-items: center;
  }
  .encabezado .menu {
    display: none;
  }
  .encabezado .logo {
    display: flex;
    grid-column: 1;
  }
  .encabezado .menu-bar {
    color: white;
    display: flex;
    grid-column: 4;
    justify-content: center;
    margin-left: 30px;
  }

  .menu-v3ktor {
    position: static;
  }

  .home-left {
    height: 50vh;
  }
  .home-left h1 {
    font-size: 3em;
    font-family: "outfit-bold";
    text-transform: uppercase;
    text-align: right;
  }
  .home-left .texto {
    font-size: 1em;
    text-align: right;
  }

  .home-right {
    height: 50vh;
  }
  .home-right h1 {
    font-size: 3em;
    font-family: "outfit-bold";
    text-transform: uppercase;
  }
  .home-right .texto {
    font-size: 1em;
    text-align: left;
  }

  .nosotros-home-2 .titulo {
    font-size: 2.4em;
  }

  .header-nosotros {
    height: 80vh;
  }

  .nosotros-seccion .titulo {
    font-size: 6em;
  }

  .nosotros-seccion-2 {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nosotros-seccion-2 .texto {
    margin-top: 10px;
  }

  .nosotros-seccion-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 73vh;
  }
  .nosotros-seccion-3 .texto {
    margin-top: 10px;
    text-align: left;
  }

  .nosotros-seccion-4 {
    display: flex;
    word-break: break-all;
  }
  .nosotros-seccion-4 h1 {
    font-size: 7em;
    opacity: 0.7;
    line-height: 79px;
  }

  .desarrollo {
    display: flex;
    flex-direction: column-reverse;
  }

  .descripcion-home {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: repeat(6, 1fr);
    box-sizing: border-box;
    background-color: #67d6ea;
    color: #FFF;
    font-size: 4em;
    font-weight: 700;
    height: 100vh;
  }
  .descripcion-home h3 {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
    font-family: "outfit-light";
    color: #FFF;
    align-items: end;
    margin-left: 0px;
  }
  .descripcion-home p {
    color: #FFF;
    display: flex;
    grid-column: 2;
    grid-row: 2;
    box-sizing: border-box;
    margin-left: 0px;
    line-height: 40px;
    font-size: 0.7em;
    font-family: "outfit-light";
  }
  .descripcion-home .conceptos {
    display: flex;
    grid-row: 3;
    grid-column: 2;
    font-size: 0.8em;
    color: #FFF;
    line-height: 50px;
    opacity: 0.4;
    margin-left: 0px;
  }

  .portfolio-home {
    height: 100%;
  }
  .portfolio-home .titulo {
    display: flex;
    align-self: flex-start;
    font-size: 30px;
  }
  .portfolio-home .trabajos {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2;
    grid-row: 3/6;
    justify-content: center;
  }
  .portfolio-home .trabajo_hijo {
    margin: 3px 5px;
  }
  .portfolio-home img {
    width: 290px;
  }

  .mastrabajos .img-fluid {
    margin: 20px 0;
  }

  .servicios-2 .titulo, .servicios-seccion-3 .titulo {
    font-size: 40px;
  }
  .servicios-2 .hijo, .servicios-seccion-3 .hijo {
    margin: 20px;
    box-sizing: border-box;
    padding: 30px;
  }

  .servicios-boot {
    height: 100%;
  }

  .pieDepagina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    align-items: center;
    justify-items: center;
    height: 100px;
  }
  .pieDepagina .logo {
    display: flex;
    grid-column: 1;
    grid-row: 1;
  }
  .pieDepagina .redes {
    display: flex;
    grid-column: 2;
    grid-row: 1;
  }
  .pieDepagina .texto {
    display: flex;
    grid-column: 1/5;
    grid-row: 2;
    font-size: 12px;
    text-align: center;
    color: #777;
  }
  .pieDepagina .tel {
    display: flex;
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    font-size: 12px;
    padding-right: 10px;
  }
  .pieDepagina img {
    width: 100px;
    height: 32px;
  }

  .principal-nosotros {
    height: 100vh;
    display: flex;
  }
  .principal-nosotros img {
    width: 90%;
  }
  .principal-nosotros .titulo {
    grid-area: titulo;
    font-size: 40px;
    font-weight: 700;
    align-self: end;
    padding-left: 0;
  }
  .principal-nosotros .texto {
    grid-area: texto;
    font-weight: 100;
    padding-left: 30px;
    font-family: "outfit-regular";
    padding-left: 0;
  }
  .principal-nosotros .boton {
    grid-area: boton;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 5px;
    background-color: black;
    border: none;
    color: white;
    height: 26px;
    width: 92px;
  }

  .portfolio-home {
    margin-bottom: 0 !important;
  }

  .portfolio-seccion-2 {
    height: 65vh;
  }

  .section-video {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .section-video .video-home {
    width: 100%;
  }
  .section-video .content {
    position: absolute;
    color: #000;
    margin-left: 50px;
    z-index: 100;
    opacity: 0.7;
  }
  .section-video .titulo {
    font-family: "outfit-bold";
    font-size: 0.5em;
    text-align: left;
    line-height: 40px;
  }

  .principal-servicio {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .principal-servicio .titulo {
    display: flex;
    grid-column: 2;
    grid-row: 2;
  }
  .principal-servicio .servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .servicios-seccion-2 {
    height: 80vh;
  }

  .servicio_hijo h2 {
    font-size: 25px !important;
    justify-content: center !important;
    margin-bottom: 0 !important;
    text-align: center;
  }

  .servicios {
    display: flex;
    flex-direction: column;
  }

  .servicio_hijo {
    text-align: center;
    margin-bottom: 20px;
  }

  .servicios-boot h1 {
    height: 50px;
  }

  .servicios-boot .boton {
    display: inline;
  }

  .principal-servicio .servicio_hijo {
    width: 290px;
    margin: 3px 5px 40px 5px;
    text-align: center;
  }

  .principal-servicio img {
    width: 180px;
  }

  .principal-servicio .texto {
    margin-bottom: 15px;
    font-family: "outfit-regular";
  }

  /***CONTACTO MOBILE***/
  .contacto-seccion-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: radial-gradient(#ccaacf, #aa82ad);
    height: 60vh;
  }
  .contacto-seccion-1 .titulo {
    color: #FFF;
  }
  .contacto-seccion-1 .mensaje-form {
    height: 100px;
  }

  .contacto-seccion-2 {
    height: 40vh;
  }

  .formulario {
    width: 100%;
  }
  .formulario h1 {
    text-align: left;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .home-left h1, .home-right h1 {
    font-size: 3em;
    color: white;
  }
  .home-left .texto, .home-right .texto {
    font-size: 1em;
  }

  .desarrollo {
    display: flex;
    flex-direction: column-reverse;
  }

  .menu-v3ktor {
    position: static;
  }

  .header-nosotros {
    height: 90vh;
  }

  .quienes-home {
    height: 100%;
  }

  .descripcion-home {
    height: 100%;
    display: block;
  }

  .servicios {
    display: flex;
    flex-direction: column-reverse;
  }

  .contacto {
    height: 100%;
    display: block;
  }

  .contacto-seccion-1 {
    align-items: start;
    height: 130vh;
  }

  .contacto-seccion-2 {
    height: 100vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-v3ktor {
    position: static;
  }

  .inicio-home h1, .nosotros-home-2 h1 {
    font-size: 3.5em;
  }

  .inicio-home-2 {
    background-position: center;
  }
}
/*******FIN MEDIA QUERIES********/

/*# sourceMappingURL=estilos.css.map */
