$tipografia-v3ktor: 'outfit-regular';
$tipografia-v3ktor-light: 'outfit-light';
$tipografia-v3ktor-bold: 'outfit-bold';
$tamano-h1: 3em;
$tamano-h2: 2em;
$tamano-h3: 1em;
$tipografia-blanco: #FFFFFF;
$tipografia-negro: #000;
$tipografia-gris: #777;


@font-face{
    font-family: $tipografia-v3ktor;
    src: url('../assets/fonts/Outfit-Regular.ttf');
}

@font-face{
    font-family: $tipografia-v3ktor-light;
    src: url('../assets/fonts/Outfit-Light.ttf');
}

@font-face{
    font-family: $tipografia-v3ktor-bold;
    src: url('../assets/fonts/Outfit-Bold.ttf');
}