$tipografia-v3ktor: 'nunito-regular';
$tipografia-v3ktor-light: 'nunito-light';
$tipografia-v3ktor-bold: 'nunito-bold';
$tamano-h1: 40px;
$tamano-h2: 30px;
$tamano-h3: 20px;
$tipografia-blanco: #FFFFFF;
$tipografia-negro: #000;
$tipografia-gris: #777;


@font-face{
    font-family: $tipografia-v3ktor;
    src: url('../assets/fonts/Nunito-Regular.ttf');
}

@font-face{
    font-family: $tipografia-v3ktor-light;
    src: url('../assets/fonts/Nunito-Light.ttf');
}

@font-face{
    font-family: $tipografia-v3ktor-bold;
    src: url('../assets/fonts/Nunito-Bold.ttf');
}