//Import
@import "colores";
@import "tipografias";
@import "nosotros";
@import "background";
@import "tamanos";

*{
    padding: 0;
    margin: 0;
}


html, body{
    overflow-x: hidden !important;
 }






//ALINEACIONES
.center{
    text-align: center;
}

//MARGENES
.margen-5{
    margin: 0 5px;
}

//COLORS:
.negro{
    background-color:$negro;
}

.rojo-mc{
    background-color: $rojo-mc;
}

.verde-metro{
    background-color: $verde-metro;
}

.fondo-rosa{
    background-color: $rosa;
}

.fondo-celeste{
    background-color: $celeste;
}


body{
    font-family: $tipografia-v3ktor;
}

h1{
    font-size: $tamano-h1;
}

h1, h2, p, button, a, .boton{
    font-family: $tipografia-v3ktor;
}




//MIXINS CON PARAMETROS


@mixin fuente ($color-fuente, $transformacion) {
    text-transform: $transformacion;
    color: $color-fuente;
}

h1{
    font-size: $tamano-h1;
    @include fuente(rgb(0, 0, 0), capitalize)
}

h2{
    font-size: $tamano-h2;
    @include fuente(rgb(0, 0, 0), capitalize)
}

h3{
    font-size: $tamano-h3;
    @include fuente(rgb(0, 0, 0), uppercase)
}






/****BOTON*****/
.boton{
    width: 117px;
    height: 50px;
    padding: 13px;
    box-sizing: border-box;
    color: $blanco;
    background:$negro;
    border: none;
    text-decoration: none;
    
    &:hover{
            background-image: linear-gradient(black, rgb(61, 61, 61));
        }
    

}



.botonera-popup{
    display: flex;
    justify-content: space-evenly;
}




.cerrar{
    width: 40px;
    height: 40px;
    background-color: $negro;
    color: $blanco;
    border-radius: 30px;
    border: none;
    padding: 0 !important;
}





/****HOME*****/

header{
    animation: fadeIn;
    animation-duration: 1s;
    background-image: linear-gradient(black, rgb(32, 32, 32));
    
}

.encabezado {
    background-color: $rosa !important;

    .menu-bar{
        color: $blanco !important;
        display: none;
    }

    .logo{
        display: flex;
        width: 90px;
        height: 30px;        
    }
    


    .menu{
        color: $blanco;
        font-size: 14px;
        display: flex;
        grid-column: 8/12;
        justify-content: space-evenly;
        list-style-type: none;
        
    }


    a{
        background: none;

        &:hover{
            background: rgb(58, 58, 58);
        }

    }

    .logo-v3ktor{
        &:hover{
            background: none;
        }
    }
    
}


.menu-v3ktor{
    position: absolute;
    right: 2%;
}



.navbar-v3ktor{
    a{
        color: $blanco;
        border-radius: 20px;
    }

    &:hover{    
        color: rgb(152, 152, 152);
        background-color: rgb(77, 77, 77);}
}



//MENU
.menu{
    a{
        color: white;
        text-decoration: none;
        transition: all 500ms;
        padding: 10px;
    }

    &:hover{
        color: rgb(152, 152, 152);
        transform: translate(0px, 10px);
        background-color: rgb(77, 77, 77);
    }
}

//MAIN

main{
    animation: fadeIn;
    animation-duration: 1s;
}

.home-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;

    h1{
        font-size: 5em;
        font-family: $tipografia-v3ktor-bold;
        text-transform: uppercase;
        text-align: right;

    }

    .texto{
        font-size: 1.4em;
        text-align: right;
        letter-spacing: 1px;

    }
}


.home-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100vh;

    h1{
        font-size: 5em;
        font-family: $tipografia-v3ktor-bold;
        text-transform: uppercase;
        text-align: left;
        opacity: 1;
    }

    .texto{
        font-size: 1.4em;
        text-align: left;
        letter-spacing: 1px;

    }

}



.inicio-home{
    background-image: radial-gradient($violeta,$violeta-oscuro);
    color: $blanco;


    h1{
        color: $blanco;
    }
    }

.inicio-home-2{
    background-image: url(../assets/img_index.jpg);
    background-size: cover;
}



    



.nosotros-home{
    background-image: url(../assets/img_quienes.jpg);
    background-size: cover;
    background-position: center;


}

.nosotros-home-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient($celeste,$celeste-oscuro);
    color: $blanco;

    .titulo{
        margin-top: 10px;
        color: $blanco;
        font-size: 5em;
    }
    /*background-image: url(../assets/img_desarrollo.jpg);
    background-size: cover;
    background-position: center;*/


}




//NOSOTROS

.header-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;

    h1{
        font-size: 4em;
        text-transform: uppercase;
        font-family: $tipografia-v3ktor-bold;
        color: $negro;
        opacity: 1;
        
    }
}


.nosotros-seccion{
    background-image: url(../assets/img_diseno.jpg);
    background-size: cover;
    background-position: center;

    h1{
        color: $blanco;
        opacity: .7;
    }
}

.nosotros-seccion-2{
    background: white;
    color: $negro;
    background-image: radial-gradient($violeta,$violeta-oscuro);
    color: $blanco;

    h1{
        color: $blanco;
    }
}

.nosotros-seccion-3{
    background: white;
    color: $negro;
    background-image: radial-gradient($celeste,$celeste-oscuro);
    color: $blanco;
        
    h1{
        color: $blanco;
    }
}


.nosotros-seccion-4{
    background-image: url(../assets/img_desarrollo.jpg);
    background-size: cover;
    background-position: center;
}

    .titulo{
        color: $blanco;
    }


.quienes-home{
    height: 100vh;
    display: flex;
    animation: fadeIn;
    animation-duration: 1s;


    .cerrar{
        margin-top: 0;
        padding: 8px;
        width: 40px;
        height: 40px;
        //Variable Local
        $borde-redondeado:20px;
        border-radius: $borde-redondeado;
    }
    
    
}











/////////DESCRIPCION HOME/////////
.descripcion-home{
    font-family: $tipografia-v3ktor-bold;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(9,1fr);
    //background-color: $celeste;
    background-image: linear-gradient($negro, rgb(71, 71, 71));
    color: $blanco;
    box-sizing: border-box;
    font-size: 4em;
    font-weight: 700;
    height: 100vh;


    h3{
        display: flex;
        grid-column: 1/4;
        grid-row: 3;
        color: $blanco;
        font-size: 20px;
        font-family: $tipografia-v3ktor-light;
        align-items: end;
        margin-left: 40px;
    }

    p{
        color: $blanco;
        display: flex;
        grid-column: 1/12;
        grid-row: 4;
        box-sizing: border-box;
        //margin: 0 !important;
        margin-left: 40px;
        line-height: 65px;
        font-family: $tipografia-v3ktor-light;
    }

    .conceptos{
        display: flex;
        grid-row: 5;
        grid-column: 1/12;
        color: $blanco;
        font-size: 2.3em;
        line-height: 100px;
        opacity: .2;
        margin-left: 40px;
    }



}


//TABLET
@media screen and (min-width: 601px) and (max-width: 1024px){
    
   .descripcion-home .conceptos{
        display: flex;
        grid-row: 5;
        grid-column: 1/10;
        font-size: 1.5em;
        color: $blanco;
        line-height: 100px;
        opacity: .4;
        //margin-left: 40px;
    }
}



//////////////PORTFOLIO///////////////
.portfolio-home{
    background-color: $blanco;
    margin-bottom: 50px;




    .titulo{
        color: $negro;
        font-family: $tipografia-v3ktor-bold;
        font-size: $tamano-h1;
        justify-content: center;
        margin: 40px 0;
        
    }

    .trabajos{
        justify-content: center;
    
    }

    .trabajo_hijo{
        margin: 3px 5px;
    }

    
    
}



//HOVER PORTFOLIO
.cliente{

    opacity: 1;
    transition: all 600ms;
    
    
    &:hover{
        opacity: .2;
    }
}








//SERVICIOS HOME

.titulo-servicio h2{
    font-family: $tamano-h2;
}


.servicios-2{
    //height: 120vh;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    //background-image: linear-gradient($violeta, $violeta-oscuro);

    .titulo{
        color: $negro;
        margin: 40px 0;
        font-size: $tamano-h1;
        font-family: $tipografia-v3ktor-bold;
    }

    .texto{
        margin-bottom: 25px;
    }


    .icon-serv{
        font-size: 9em;
        margin: 20px 0;
        color: $negro;
    }

    .hijo{
        box-sizing: border-box;
        margin: 0 20px;
        padding: 40px 10px;
        text-align: center;
        height: 400px;
        background: none;

        /*
        &:hover{
            
            box-sizing: border-box;
            transition-duration: 600ms;
            background: black;
            

            .texto{
                color: $blanco;
            }
            .titulo-servicio{
                color: $blanco;
            }

            .icon-serv{
                color: $blanco;
            }

            a{
                border: 1px solid $blanco;
            }


            a:hover{
                background:$blanco;
                color: $negro;
                transition: 400ms;
            }
        }
        */
    }
}




//VIDEO
.section-video{
    display: flex;
    align-items: center;
    text-align: center;
    .video-home{
        width: 100%;
        height: 100hv;
    }

    .content{
        position: absolute;
        color: $negro;
        z-index: 100;
        opacity: 1;
        right: 10%;
        font-size: 4em;
        text-align: right;
        line-height: 65px;
        font-family: $tipografia-v3ktor-bold;
        animation: bounceIn;
        animation-duration: 1s;
        
    }

}




.pieDepagina{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    justify-items: center;
    align-items: center;
    height: 70px;
    border-top: 1px solid black;

    .logo{
        display: flex;
        width: 90px;
        height: 40px;
        grid-column: 2;
    }

    .texto{
        display: flex;
        grid-column: 4/7;
        font-size: 14px;
        margin: 0;
    }

    .redes{
        display: flex;
        grid-column: 8/9;
        justify-content:space-around ;
        
    }

    .fa-brands {
        margin: 0 10px;
    }

    a{
        color: $negro;
        text-decoration: none;
    }

    a:hover{
        color: rgb(106, 106, 106);
        text-decoration: none;
    }

    .tel{
        display: flex;
        grid-column: 10/12;
        text-decoration: none;
    
    }
}

/******FIN HOME********/









/******NOSOTROS********/

.seccion-nosotros{
    animation: fadeIn;
    animation-duration: 1s;
}

.home-left-nosotros{
    display: flex;
    background-image: url(../assets/img_diseno.jpg);
    background-position: center;
    background-size: cover;
}


.home-right-nosotros{
    display: flex;
    background-image: url(../assets/img_desarrollo.jpg);
    background-position: center;
    background-size: cover;
}







/***PORTFOLIO***/


.portfolio-seccion{
    background-image: url(../assets/img_portfolio.jpg);
    background-size: cover;
    background-position: center;
}

.portfolio-seccion-2{
    background-image: linear-gradient($violeta, $violeta-oscuro);
    color: $blanco;    
    .titulo{
        color: $blanco;
    }
}


.item-portfolio{
    text-align: center;
    margin-bottom: 50px;
    h1{
        color: $negro;
        opacity: 1;
        font-family: $tipografia-v3ktor-bold;
    }

    h2{
        font-size: 1em;
    }

    .item-hijo{

        opacity: 1;
        transition: all 500ms;

        &:hover{
            opacity: .5;
            cursor: pointer;
            animation-duration: 1s;
            
        }
    }

}



.carousel{
    display: flex;
    grid-column: 2/12;
    grid-row: 3/4;
    animation: fadeIn;
    animation-duration: 1s;
}

.mastrabajos{
    margin-bottom: 40px;
    animation: fadeIn;
    animation-duration: 1s;

    .titulo{
        margin-bottom: 10px;
    }
    
}



////////////////SERVICIOS//////////////////

.servicios{
    display: flex;
}

.servicios-seccion-1{
    background-image: url(../assets/img_servicios.jpg);
    background-position: center;
    background-size: cover;

}

.servicios-seccion-2{
background-image: radial-gradient($celeste, $celeste-oscuro);
padding-left: 30px;


    .titulo{
        color: $blanco;
    }

    .texto{
        color: $blanco;
    }

}


.servicios-seccion-3{
@extend .servicios-2;
margin-top: 60px;

.boton{
    border: 1px solid $negro;

    &:hover{
        border: 1px solid $negro;
        background-color: white;
        color: $negro;

    }
}

.hijo{
    height: 450px;

    &:hover{
        background-color: $negro;
        animation: fadeIn;
        animation-duration: 1s;
    



        .titulo-servicio{
            color: $blanco;
        }

        .icon-serv{
            color: $blanco;
        }

        .texto{
            color: $blanco;
        }

        .boton{
            background-color: $blanco;
            color: $negro;
            border: 1px solid $blanco;
            
            &:hover{
                background-color: $negro;
                color: $blanco;
            }
        }
        
    }
}
}






/***CONTACTO***/

.contacto{
    height: 100vh;
    display: flex;
    
    
}


.contacto-seccion-1{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-image: radial-gradient($violeta, $violeta-oscuro);

    .titulo{
        color: $blanco;
    }

    .mensaje-form{
        height: 200px;
    }

}

.formulario{
    display: flex;
    flex-direction: column;

    width: 80%;

    .nombre{
        width: 100%;
    }

    .email{
        width: 100%;
    }

    .mensaje{
        width: 100%;
    }


}

.contacto-seccion-2{
    background-image: url(../assets/img-contacto.jpg);
    background-size: cover;
    background-position: center;
    
    .titulo{
        color: $blanco;
        opacity: .5;
    }
}


.contacto textarea{
    width: 100%;
}










/********MEDIA QUERIES*********/

////////////HOME MOBILE///////////
@media screen and (max-width: 600px){

    .encabezado {
        .navbar-v3ktor{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            background-color: black;
            height: 70px;
            align-items: center;
        }

        .menu{
            display: none;
        }

        .logo{
            display: flex;
            grid-column: 1;
        }

        .menu-bar{
            color: white;
            display: flex;
            grid-column: 4;
            justify-content: center;
            margin-left: 30px;
        }
    

    } 


    .menu-v3ktor{
        position: static;
    }




    
.home-left{
    height: 50vh;

    h1{
        font-size: 3em;
        font-family: $tipografia-v3ktor-bold;
        text-transform: uppercase;
        text-align: right;
    }

    .texto{
        font-size: 1em;
        text-align: right;
    }
}

.home-right{
    height: 50vh;

    h1{
        font-size: 3em;
        font-family: $tipografia-v3ktor-bold;
        text-transform: uppercase;

    }

    .texto{
        font-size: 1em;
        text-align: left;
    }
}


.nosotros-home-2{

    .titulo{
    font-size: 2.4em;
    }
}







/////////NOSOTROS MOBILE///////////
    

.header-nosotros{
    height: 75vh;
}

.nosotros-seccion{
    .titulo{
        font-size: 6em;
    }
}


.nosotros-seccion-2{
    display: flex;
    flex-direction: column;
    justify-content: start;

    h1{
        font-size: 1em !important;
        color: $negro !important;
    }

    .texto{
        margin-top: 10px;
        //font-size: 18px;
    }
    
}

.nosotros-seccion-3{
    display: flex;
    flex-direction: column;
    justify-content: start;

    .texto{
        margin-top: 10px;
        //font-size: 18px;
    } 
}


.nosotros-seccion-4{
    display: flex;
    word-break: break-all;

    h1{
        font-size: 7em;
        opacity: .7;
        line-height: 79px;
    }

}

.desarrollo{
    display: flex;
    flex-direction: column-reverse;

}










/////////////DESCRIPCION MOBILE////////////

.descripcion-home{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: repeat(6,1fr);
    box-sizing: border-box;
    background-color: $celeste;
    color: $blanco;
    font-size: 4em;
    font-weight: 700;
    height: 100vh;
    


    h3{
        display: flex;
        grid-column: 2;
        grid-row: 1;
        font-size: 20px;
        font-family: $tipografia-v3ktor-light;
        color: $blanco;
        align-items: end;
        margin-left: 0px;
        //margin: 200px 0 0 0 !important; 
    }

    p{
        color: $blanco;
        display: flex;
        grid-column: 2;
        grid-row: 2;
        box-sizing: border-box;
        //margin: 0 !important;
        margin-left: 0px;
        line-height: 40px;
        font-size: .7em;
        font-family: $tipografia-v3ktor-light;
    }

    .conceptos{
        display: flex;
        grid-row: 3;
        grid-column: 2;
        font-size: .8em;
        color: $blanco;
        line-height: 50px;
        opacity: .4;
        margin-left: 0px;
    }



}



.portfolio-home{
    height: 100%;

    .titulo{
        display: flex;
        align-self: flex-start;
        font-size: 30px;
    }

    .trabajos{
        display: flex;
        flex-wrap: wrap;
        grid-column: 2;
        grid-row: 3/6;
        justify-content: center;
    
    }

    .trabajo_hijo{
        margin: 3px 5px;
    }

    img{
        width: 290px;
    }
    
}


.mastrabajos .img-fluid{
    margin: 20px 0;
}


.servicios-2{
    .titulo{
        font-size: 40px;
    }

    .hijo{
        margin: 20px;
        box-sizing: border-box;
        padding: 30px;
    }
}



.servicios-boot{
    height: 100%;
}



    .pieDepagina{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 2;
        align-items: center;
        justify-items: center;
        height: 100px;

        .logo{
            display: flex;
            grid-column: 1;
            grid-row: 1;
        }

        .redes{
            display: flex;
            grid-column: 2;
            grid-row: 1;
        }

        .texto{
            display: flex;
            grid-column: 1/5;
            grid-row: 2;
            font-size: 12px;
            text-align: center;
            color: #777;
        }

        .tel{
            display: flex;
            grid-column: 3;
            grid-row: 1;
            text-align: right;
            font-size: 12px;
            padding-right: 10px;
        }

        img{
            width: 100px;
            height: 32px;
            }
    
    
    }



//////////////NOSOTROS MOBILE/////////////////

    .principal-nosotros{
        height: 100vh;
        display: flex;

        img{
            width: 90%;
        }

        .titulo{
            grid-area: titulo;
            font-size: 40px;
            font-weight: 700;
            align-self: end;
            padding-left: 0;
            
        }

        .texto{
            grid-area: texto;
            font-weight: 100;
            padding-left: 30px;
            font-family: $tipografia-v3ktor;
            padding-left: 0;
        }

        .boton{
            grid-area: boton;
            text-align: center;
            margin:20px 0 0 0;
            padding: 5px;
            background-color: black;
            border: none;
            color: white;
            height: 26px;
            width: 92px;
        }
        
    }


 







////////////////PORTFOLIO MOBILE///////////////////

.portfolio-home{
    margin-bottom: 0 !important;
}



//VIDEO mobile
.section-video{
    display: flex;
    align-items: center;
    text-align: center;
    .video-home{
        width: 100%;
    }


    .content{
        position: absolute;
        color: $negro;
        margin-left: 50px;
        z-index: 100;
        opacity: .7;
    }

    .titulo{
        font-family: $tipografia-v3ktor-bold;
        font-size:.5em;
        text-align: left;
        line-height: 40px;
    }
}



/***SERVICIOS MOBILE***/


.principal-servicio{
    //height: 190vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .titulo{
        display: flex;
        grid-column: 2;
        grid-row: 2;
    }

    .servicios{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    
}


.servicio_hijo h2{
    font-size: 25px !important;
    justify-content: center !important;
    margin-bottom: 0 !important;
    text-align: center;
}


.servicio_hijo{
    text-align: center;
    margin-bottom: 20px;
}

.servicios-boot h1{
    height: 50px;
}

.servicios-boot .boton{
    display: inline;
}

.principal-servicio .servicio_hijo{
    width: 290px;
    margin: 3px 5px 40px 5px;
    text-align: center;

}


.principal-servicio img{
    width: 180px;
}


.principal-servicio .texto{
    margin-bottom: 15px;
    font-family: $tipografia-v3ktor;
}







/***CONTACTO MOBILE***/


.contacto-seccion-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: radial-gradient($violeta, $violeta-oscuro);
    height: 60vh;

    .titulo{
        color: $blanco;
    }

    .mensaje-form{
        height: 100px;
    }

}

.contacto-seccion-2{
    height: 40vh;
}



}



////////// TABLET ///////////
@media screen and (min-width: 601px) and (max-width: 1024px){
    .home-left{

        
    
        h1{
            font-size: 3.5em;

        }

    }
    
    .home-right{
        display: flex;
        //background-color: $celeste;
        background-image: radial-gradient($celeste,$celeste-oscuro );
        height: $h-100-v3ktor;
        align-items: center;
        background-image: url(../assets/img_index.jpg);
        background-size: cover;
    
        h1{
            font-size: 6em;
            font-family: $tipografia-v3ktor-bold;
            text-transform: uppercase;
            color: $blanco;
        }
    }
}



//MOBILE HORIZONTAL

@media screen and (min-width: 576px) and (max-width: 767px){
    .quienes-home{
        height: 100% ;
    }

    .descripcion-home{
        height: 100%;
        display: block;
    }
}





/*******FIN MEDIA QUERIES********/


